<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport>
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item *ngIf="auth.user | async" routerLink="/customers" routerLinkActive="active" (click)="drawer.toggle()">Customers</a>
      <a mat-list-item *ngIf="auth.user | async" routerLink="/invoices"  (click)="drawer.toggle()">Visits</a>
      <a mat-list-item *ngIf="auth.user | async" (click)="logout();drawer.toggle()">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" *ngIf="auth.user | async" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span><a routerLink="" class="header-link">{{title}}</a></span>
    </mat-toolbar>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>